---
import {
  type CollectionEntry,
  getCollection,
  getEntry,
  render,
} from "astro:content";
import Simple from "../../layouts/Simple.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import CopyrightNotice from "../../components/CopyrightNotice.astro";
import { Temporal } from "temporal-polyfill";
import JsonLd from "../../components/JsonLd.astro";
import type { BlogPosting, WithContext } from "schema-dts";
import { generateJsonLdPerson } from "../../jsonld";
import { getCanonicalURL } from "../../url";

export async function getStaticPaths() {
  const posts = await getCollection("articles");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"articles">;

const post = Astro.props;
const pubDate = Temporal.Instant.from(post.data.pubDate);
const updatedDate =
  post.data.updatedDate !== undefined
    ? Temporal.Instant.from(post.data.updatedDate)
    : undefined;
const author = await getEntry(post.data.author);
const { Content } = await render(post);

const articleJson: WithContext<BlogPosting> = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  author: await generateJsonLdPerson(Astro, author),
  headline: post.data.title,
  datePublished: pubDate.toString(),
  dateModified: updatedDate?.toString(),
  url: getCanonicalURL(Astro).toString(),
};
---

<Simple title={post.data.title}>
  <Fragment slot="head">
    <JsonLd data={articleJson} />
  </Fragment>
  <header>
    <nav>
      <a href="/articles">[index]</a>
    </nav>
    <hr />
  </header>
  <main>
    <article>
      <header>
        <h1>{post.data.title}</h1>
        <div>
          Author:
          <a href={`/authors/${author.id}`} rel="author">{author.data.name}</a>
        </div>
        <div>
          Date: <FormattedDate date={pubDate} withTime />
        </div>
      </header>
      <div class="content">
        <Content />
      </div>
    </article>
  </main>
  <footer>
    <hr />
    <nav>
      <a href="/articles">[index]</a>
    </nav>
    <p>
      <CopyrightNotice pubDate={pubDate} />
    </p>
  </footer>
</Simple>

<style>
  .content {
    line-height: 1.8;

    & :global(pre.astro-code) {
      border: 1px solid #666;
      border-radius: 0.5rem;
      padding: 1rem;
    }

    & :global(img) {
      border: 1px solid #ccc;
      max-width: 100%;
      height: auto;
    }
  }
</style>
