---
import type { WithContext, WebSite } from "schema-dts";
import { SITE_TITLE } from "../consts";
import "../styles/global.css";
import JsonLd from "./JsonLd.astro";
import { getEntry } from "astro:content";
import { generateJsonLdPerson } from "../jsonld";
import { getCanonicalURL } from "../url";

interface Props {
  title: string;
}

const canonicalURL = getCanonicalURL(Astro);

const author = await getEntry("authors", "yufushiro")!;
const authorURL = new URL(`/authors/${author.id}`, Astro.site);

const { title } = Astro.props;

const websiteJson: WithContext<WebSite> = {
  "@context": "https://schema.org",
  "@type": "WebSite",
  name: SITE_TITLE,
  url: Astro.site?.toString(),
  author: generateJsonLdPerson(Astro, author),
};
---

<meta charset="utf-8" />
<title>{title}</title>

<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta name="fediverse:creator" content="@yufushiro@m.yufushiro.dev" />

<link rel="canonical" href={canonicalURL} />
<link rel="me" href="https://m.yufushiro.dev/@yufushiro" />
<link rel="author" href={authorURL} />
<link rel="sitemap" href="/sitemap-index.xml" />
<link
  rel="alternate"
  type="application/rss+xml"
  title={SITE_TITLE}
  href="/rss.xml"
/>

<JsonLd data={websiteJson} />
